{% extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>關於</title>
</head>
<body>
    <h1>起源</h1>
<p>  自 2019 年年底，新型冠狀病毒逐漸擴散全球，鄰近新型冠狀病毒發源 國的臺灣在病毒入侵前便戒慎恐懼，更在病毒入侵臺灣後人人自危，民眾開 始大量減少非必要性的外出購物，為了減少病毒接觸性傳播的可能，網路購 物逐漸成為大眾所選擇的購物方式。</p>

<p> 路購物具有不受時間和空間侷限的特性，可隨時隨地在有網路的情況 下購買各式商品。但現今的網路購物有個普遍的缺點：消費者在購物時無法 具體感受到商品實際的大小與樣式，有時商品的照片與實際收到的商品也會 產生落差，因此容易讓消費者對於網購商品，尤其是穿戴式的飾品與衣物等 有較多顧慮，消費者若不滿意網路購物的商品想退貨時，也容易造成賣家與 消費者之間的糾紛。</p>

<p> 此外，購物的樂趣在於能夠在街上走走停停，挑揀喜歡的商品，享受和 身邊人購物的樂趣，而這是在家中網購所感受不到的。因此我們希望能利用 現有技術製作出一個平台，除了能在消費者購買戒指等需穿戴的商品時，提 供方便消費者一目瞭然商品大小的功能外，同時能使用非接觸的方式進行操 作，以降低接觸性傳染的風險。供消費者多一個相對於實體購物擁有較低接 觸式傳染風險，並且相較於現今網路購物具有較容易辨識商品尺寸及合適度 的新選項。對店家來說，越能貼合顧客的需求，也越能增加顧客的購買率。</p>

<p> 伴隨著疫情，「元宇宙」的概念越來越盛行，人們對科技的期望與想像 並不止步於電腦、手機或是平板，而是邁向混合實境、虛擬實境等等。元宇 宙不只是一種科技，更是為人們創造了一種新的交流方式。我們本著元宇宙 的精神在開發專題研究，希望可以將虛實整合，讓消費者在這種人人必須保 持防疫距離的情況下，仍能以另一種方式，讓彼此的心相繫。 </p>

    <h1>發想</h1>

    <p> 為了因應疫情為生活帶來的改變，我們希望開發一個網站提供飾品商家 陳列其戒指類商品，飾品商家可於網站中展示商品樣貌、商品資訊等。消費 者可在此網站瀏覽各個網路飾品商店的商品，並在不需要與人或螢幕等做實 體碰觸的狀況下，憑藉鏡頭抓取手部動作進行操作，降低病毒經由接觸性傳 播發生的機率。</p>

    <p> 除此之外，此平台具有「模擬配戴」功能，在「模擬配戴」功能進行的 情況下，消費者能在屏幕中見到經由鏡頭抓取出與消費者具有相同比例的3D 虛擬手掌，此虛擬手掌會以佩戴著消費者選定進行「模擬配戴」的戒指的 3D 模型呈現。如此一來不僅可以降低商品存在尺寸不合適的可能，同時也能降 低消費者在網路購物收到貨物後，才發覺商品樣式與手部比例不合適的可能。 </p>

    <h1>期許</h1>
    <p>1. 呈現出的影像成果相比一般使用投影布幕更加清晰明亮，並凸顯立體影像的特色，讓使用者能夠更具體了解商品外觀，並享受和產品互動的趣味性。</p>
    <p>2. 精準偵測手部動作，順利以非接觸方式執行點擊功能、旋轉商品並進行模擬配戴。</p>
    <p>3. 以偵測到的手部數值模擬出和使用者相似的手部模型，讓使用者不必真正戴上飾品也能確認商品大小與樣式是否適合自己，並能以平常無法觀看的第三人稱視角欣賞配戴時的模樣。</p>
    <p>4. 將虛擬商品以及實體的平台整合，讓店家可以多一個銷售商品的管道。</p>
    <p>5. 現今消費者的消費習慣，已從到實體店面購買逐漸轉為線上消費，我們預期未來可和電子商務做結合，讓消費者在線上購物時也能使用我們做出來的系統。</p>
    <p>特定節日中，光雕秀表演常常能吸引大眾眼球並帶動氣氛，不過通常人們對光雕秀的印象是巨大且極為花錢。我們希望能用較為簡易且不那麼昂貴的方式，將平常放在展示櫃的商品以新穎的方式呈現在顧客眼前，增加互動性及趣味性，將小小的光雕秀呈現在顧客面前。</p>

    <h1>開發人員</h1>
<p> 指導老師: 國立東華大學 資訊管理學系 江志卿教授 </p>
<p> 人員: 國立東華大學 資訊管理學系 謝享儒、楊紹妤、吳佳瑩、張珈綺、郭儀廷 </p>
<p> 聯絡資訊: 國立東華大學 資訊管理學系 謝享儒 410835042@gms.ndhu.edu.tw </p>
<p> 連絡電話: 0918286491 </p>

</body>
</html>
{% endblock %}