{% extends 'base.html' %}

{% block content %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>商品資訊</title>
    </head>


        <img src="/static/goods/4.jpg" alt="1">
        <p class="">戒指4</p>
        <p class="">$300</p>
        <p></p>

        {% if request.user.is_authenticated %}
        <button type="submit"><a href =" ">模擬配戴</a></button><button type="submit"><a href ="/collect/">加入收藏</a></button><button type="submit"><a href ="">加入購物車</a></button>
        {% else %}
        <div class="state">
            <p class="state-p">您還尚未登入會員哦</p>
        {% endif %}
        </div>
</html>
 {% endblock %}