<div class="header">
    <div class="container">
        <a href="/home/" class="logo">
            <img src="/static/images/logo1.png" alt="logo1">
            <img src="/static/images/0.png" alt="0" class="sp">
        </a>

        <nav class="flex-nav">
            <a class="item" href="/home/">產品</a>
            <a class="item" href="../">購物車</a>
            {% if request.user.is_authenticated %}
            <a class="item" href="/listall/">會員</a>
            {% else %}
            <a class="item" href="/login/">會員</a>
            {% endif %}
            <a class="item" href="/us/">加入我們</a>
            <a class="item" href="/about/">關於</a>
        </nav>

        <form class="navSearch">
            <input class="inputSearch" type="search" placeholder="搜尋">
            <button class="buttonSearch"><i class="fas fa-search"></i>搜尋</button>
        </form>

        <div class="state">
            {% if request.user.is_authenticated %}
                <p class="state-p">{{ request.user }} 已登入</p>
            {% else %}
                <p class="state-p">您尚未登入</p>
            {% endif %}
        </div>

    </div>
</div>